@font-face {
  font-family: 'FuturaBookC';
  src: url('/src/style/assets/fonts/Futurabookc.otf');
}
 
@font-face {
  font-family: 'FuturaDemiC';
  src: url('/src/style/assets/fonts/Futurademic.otf');
}

@font-face {
  font-family: FuturaMediumC;
  src: url('/src/style/assets/fonts/Futuramediumc.otf');
}

@font-face {
  font-family: ProximaNova;
  src: url('/src/style/assets/fonts/ProximaNova-Black.ttf');
}

@font-face {
  font-family: YesevaOne;
  src: url('/src/style//assets/fonts/Yeseva-One.ttf');
}
