$black-bg-col: #131313;
$white-bg-col:   #ffffff;
$gold-bg-col: #E3B873;

$gold-text-col: #E3B873;
$black-text-col: #181818;
$dark-gray-text-col: #363636;
$white-text-col: #ffffff;
$light-gray-text-col: #959595;
$opacity-text-col: rgba(255, 255, 255, 0.3);
$gray-text-col: rgba(54, 54, 54, 0.5);
